@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #19c880;
  --text-color: #707070;
  --white: #fff;
  --black: #252525;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  background: var(--white);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
}
nav .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 30px;
  color: var(--text-color);
  transition: 0.3s;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
nav .links a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
nav .icons {
  display: flex;
  align-items: center;
}
nav .icons .icon {
  position: relative;
  margin: 0 10px;
}
nav .icons .icon i {
  font-size: 20px;
}
nav .icons .number {
  background-color: var(--primary-color);
  position: absolute;
  top: -15px;
  right: -9px;
  border-radius: 50%;
  min-width: 20px;
  color: #fff;
  min-height: 20px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  line-height: 15px;
}
nav .menu {
  display: none;
}
nav .mobile-nav .links {
  display: none;
}
/* === Banner */
.banner {
  background: #feecec;
}
.banner-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-wrapper .img-container {
  width: 500px;
  height: 500px;
}
.banner-wrapper .img-container img {
  width: 100%;
}
.banner-wrapper .content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner-wrapper .content h3 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 20px;
}
.banner-wrapper .content .btn {
  max-width: 150px;
  height: 45px;
  background: var(--white);
  color: var(--black);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.banner-wrapper .content .btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

/* === Services */
.services-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  border-bottom: 1px solid #dcdcdc;
}
.services-wrapper .service {
  display: flex;
  align-items: center;
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  gap: 20px;
}
.services-wrapper .service h3 {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 5px;
  text-transform: uppercase;
  color: var(--black);
}

/* === Products */
.products {
  margin: 60px 0px;
}
.products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-wrapper .product {
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin-bottom: 20px;
  width: 100%;
}
.products-wrapper .product .img-container {
  position: relative;
  overflow: hidden;
}
.products-wrapper .product .img-container .sale {
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  background: #df4243;
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
}
.products-wrapper .product .img-container .sale::before {
  content: "";
  position: absolute;
  border-width: 3px;
  border-color: #df4243 #df4243 transparent #df4243;
  top: 100%;
  left: 3px;
  border-style: solid;
}
.products-wrapper .product .img-container img {
  width: 100%;
  cursor: pointer;
}
.product .img-container .details {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  position: absolute;
  right: 10px;
  left: 10px;
  bottom: -100%;
  transition: 0.3s;
}
.product .img-container:hover .details {
  bottom: 15px;
}
.product .img-container .details > * {
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.product .img-container .details > *:hover {
  background: var(--primary-color);
  color: var(--white);
}
.product .img-container .icon {
  min-width: 50px;
  height: 50px;
}
.product .img-container .read {
  width: 100%;
}
.product .content {
  padding: 20px 0px 0px;
}
.product .content h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.product .content span {
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin-top: 10px;
}
.product .content .price {
  color: var(--text-color);
  margin-right: 15px;
}
.product .content .sale-price {
  color: var(--black);
  font-weight: 700;
}
.product .content .price.line {
  text-decoration: line-through;
}

/* ==== subscribe */
.subscribe {
  padding: 60px 0px;
}
.subscribe h3 {
  text-align: center;
  font-size: 30px;
  line-height: 39px;
  color: var(--black);
  margin-bottom: 20px;
  font-weight: normal;
}
.subscribe p {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  margin-bottom: 50px;
  text-align: center;
}
.subscribe form {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
form input {
  width: 400px;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid #dcdcdc;
  border-right: none;
}
form input:focus {
  outline: none;
}
form .btn {
  max-width: 150px;
  background: var(--black);
  color: var(--white);
}

/* Footer */
footer {
  padding: 40px 0px;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-wrapper > * {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  width: 100%;
}
.footer-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-wrapper .logo {
  margin-bottom: 20px;
}
.footer-wrapper p {
  margin-bottom: 10px;
}
.footer-wrapper .links a {
  font-size: 14px;
  line-height: 20px;
  margin: 0px 20px;
  color: var(--text-color);
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  text-decoration: none;
}
.footer-wrapper .links a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.footer-wrapper .social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-wrapper .social-icons a {
  width: 46px;
  height: 46px;
  background: #ddd;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  margin-right: 15px;
  color: var(--black);
  transition: 0.3s;
  text-decoration: none;
}
.footer-wrapper .social-icons a:hover {
  background: var(--primary-color);
}
.footer-wrapper .social-icons a:hover i {
  color: var(--white);
}

/* ====== Responsiveness */

@media (max-width: 969px) {
  .banner-wrapper {
    flex-wrap: wrap;
    height: auto;
    padding: 40px 0px;
  }
  .banner-wrapper .img-container {
    flex: 0 0 100%;
    max-width: 100%;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-wrapper .img-container img {
    width: 300px;
  }
  .banner-wrapper .content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-wrapper {
    flex-wrap: wrap;
  }
  .services-wrapper .service,
  .products-wrapper .product {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }
  .footer-wrapper > * {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .footer-wrapper .img-container {
    display: flex;
    justify-content: center;
  }
  .footer-wrapper .social-icons {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  nav .menu {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  nav .links {
    display: none;
  }
  nav .mobile-nav {
    position: fixed;
    top: 80px;
    width: 270px;
    background: #ddd;
    height: 100vh;

    left: auto;

    opacity: 0;
    padding: 0;
    right: -100%;
    scale: 0;
    transition: 0.3s;
  }
  nav .mobile-nav.active {
    right: 0;
    padding: 48px;
    scale: 1;
    opacity: 1;
  }

  nav .mobile-nav .links {
    display: block;
    display: flex;
    flex-direction: column;
  }
  nav .mobile-nav .links a {
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 560px) {
  .banner-wrapper .content h3 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .services-wrapper .service,
  .products-wrapper .product {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
