* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
nav {
  height: 90px;
  background: #111;
  transition: 0.3s;
}
nav.sticky {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.logo {
  color: #fff;
  font-size: 30px;
}
.links a {
  color: #fff;
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}
.banner {
  height: 300vh;
  background: #555;
}
